* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header {
    width: 70%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .header-logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    input {
        width: 500px;
        height: 40px;
        padding-left: 20px;
        outline: none;
    }

    .acc {
        width: max-content;
        height: 40px;
        display: flex;
        gap: 30px;

        div {
            display: flex;

            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

nav {
    width: 100%;
    background-color: #333333;
    height: 70px;
    padding: 0 15%;
    color: white;
    display: flex;
    justify-content: space-between;

    /* align-items: center; */

    ul {
        width: max-content;
        display: flex;
        list-style: none;
        height: 100%;
        align-items: center; 
        gap: 20px;
    }

    div {
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.first {
    width: 70%;
    margin: 0 auto;
    height: 70vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .first-opa {
        width: 60%;
        height: 70%;
    }

    div {
        height: 67%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: -175px;
    }
}

.second-card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    div{
        display: flex;
        gap: 20px;
        
        span {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
        }
    }
}


.third-card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p {
        color: #00B207;
    }
    margin-top: 20px;
}

.fourth {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: max-content;
        width: max-content;
        padding: 10px;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        margin-top: 10px;
    }
}

.fifth {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 20px;

    .fifth-card {
        width: 20%;
        padding: 20px 0px 20px 20px;
        border: 1px solid #E6E6E6;

        .olma {
            width: 90%;
        }

        .rating {
            display: block;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}
section {
    width: 70%;
    margin: 0 auto;
}

.second-sixth {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        margin-top: 10px;
        padding: 20px 0px 20px 20px;

        img {
            width: 200px;
        }
    }

}

.second {
    margin-top: 700px;
    display: flex;
    flex-wrap: wrap;
    div {
        width: 20%;
        padding: 20px;
        border: 1px solid #E6E6E6;
    }
}